.label {
    display: inline-block;
    padding: 0.5rem;
}

.select {
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    outline: none;
    transition: all .15s;
}

.select:focus {
    border-color: var(--primary);
}