.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: .1rem;
    background-color: #ddd;
    display: flex;
}

.bar {
    background-color: var(--primary);
    transition: all .1s;
}
