.input {
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-size: 1rem;
    transition: all .15s;
}

.input:focus {
    border-color: var(--primary);
}