.button {
    padding: .5rem 1rem;
    font-size: 0.9rem;
    background-color: white;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 0.25rem;
    outline: none;
    transition: all .15s;
    margin: 0rem .15rem;
}

.button:hover {
    background-color: var(--primary);
    color: white;
}

.round {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin: .15rem;
}


.danger {
    border: 1px solid var(--danger);
    color: var(--danger);
}
.danger:hover {
    background-color: var(--danger);
    color: white;
}


.disabled {
    background-color: #eee;
    border-color: #ddd;
    color: black;
}
.disabled:hover {
    background-color: #eee;
    border-color: #ddd;
    color: black;
}