.title {
    font-weight: lighter;
    padding: .5rem;
}

.h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.h2 {
    font-size: 1.75rem;
    margin-bottom: 0.875rem;
}

.h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.h4 {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.h6 {
    font-size: .75rem;
    margin-bottom: 0.375rem;
    font-weight: bold;
}

.noMargin {
    margin-bottom: 0;
}