.backdrop {
    background-color: rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    padding-top: 3rem;
}

.modal {
    width: 95%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.close {
    position: absolute;
    top: 0;
    right: -3rem;
}