.navbar {
    background-color: var(--primary);
    padding: .5rem;
    display: flex;
    flex-direction: row;
    color: white;
}

.icon {
    color: var(--secondary);
    text-shadow: 0 0 15px white;
    font-weight: bolder;
    user-select: none;
}
