.tableParent {
    border: 1px solid #ddd;
    border-radius: 1rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.th {
    text-align: left;
    padding: 1rem;
}

.td {
    border-top: 1px solid #ddd;
    padding: 1rem;
}

.tdlabel {
    width: 15rem;
}


.filterContainer {
    position: sticky;
    z-index: 1;
    top: .5rem;
    display: flex;
    flex-wrap: wrap;
}

.filterSearch {
    flex-grow: 1;
}

.filterPages {
    display: flex;
    flex-grow: 1;
}

.filterDropdown {
    padding-left: 1rem;
    flex-grow: 1;
    text-align: right;
}