:root {
    --primary: #2196f3;
    --secondary: #ef5350;
    --danger: #c62828;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.box-shadow { transition: box-shadow .15s; }
.box-shadow.box-0 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 0px 0px 0 rgba(0, 0, 0, 1); }
.box-shadow.box-1 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px 0 rgba(0, 0, 0, .35); }
.box-shadow.box-2 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 2px 4px 0 rgba(0, 0, 0, .35); }
.box-shadow.box-3 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 3px 6px 0 rgba(0, 0, 0, .35); }
.box-shadow.box-4 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 4px 8px 0 rgba(0, 0, 0, .35); }
.box-shadow.box-5 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 5px 10px 0 rgba(0, 0, 0, .35); }
.box-shadow.box-6 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 6px 12px 0 rgba(0, 0, 0, .35); }
.box-shadow.box-7 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 7px 14px 0 rgba(0, 0, 0, .35); }
.box-shadow.box-8 { box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 8px 16px 0 rgba(0, 0, 0, .35); }
